
<h1> Konfiguracja</h1>

<table class="menu-table" cellspacing="0" cellpadding="0" border="0">
  <tr> 
    <td> <%= link_to "Ustawienia gry",  gameconsole_path %> </td>
    <td class="config-selected"> Ustawienia rundy </td>
    <td class="menu-lastitem"> <%= link_to "Ustawienia gracza",  userconsole_path %> </td>
  </tr> 
</table><br/>

<div class="config-cont">
  <div class="config-intercont">
      <% form_tag(@value, :method => "get") do %>  
       Czas "freez" przed rozpoczęciem rundy
  </div>
<div class="config-intercont">
    <div class="config-form">
        <%= text_field_tag(:j) %>
    </div>
    <div class="config-form">
        <%= button_to "Ok", rcon_command('mp_freezetime', params[:j])%>
        <% end %>
    </div>
</div>
</div>

<div class="config-cont">
  <div class="config-intercont">
          <% form_tag(@value, :method => "get") do %>  
          Ilość startowych funduszy [max 16000]
  </div>
  <div class="config-intercont">
    <div class="config-form">
        <%= text_field_tag(:f) %>
    </div>
      <div class="config-form">
        <%= button_to "Ok", rcon_command('mp_startmoney', params[:f])%>
      <% end %>
      </div>
    </div>
</div>


<div class="config-cont">
  <div class="config-intercont">
      <% form_tag(@value, :method => "get") do %> 
       Ilość czasu na kupno wyposarzenia
    </div>
    <div class="config-intercont">
      <div class="config-form">
        <%= text_field_tag(:g) %>
      </div>
      <div class="config-form">
        <%= button_to "Ok", rcon_command('mp_buytime', params[:g])%>
        <% end %>
      </div>
    </div>
  </div>



<div class="config-cont">
  <div class="config-intercont">
        <% form_tag(@value, :method => "get") do %>  
         Czas na rozbrojenie ładunku C4 [15-90 sek]
  </div>
  <div class="config-intercont">
      <div class="config-form">
          <%= text_field_tag(:i) %>
      </div>
       <div class="config-form">
          <%= button_to "Ok", rcon_command('mp_c4timer', params[:i])%>
        <% end %>
       </div>
  </div>
</div>



<div class="config-cont">
  <div class="config-intercont">
        <% form_tag(@value, :method => "get") do %>  
          Ilość zwycięskich rund by wygrać mecz
  </div>
  <div class="config-intercont">
      <div class="config-form">
          <%= text_field_tag(:h) %>
      </div>
       <div class="config-form">
          <%= button_to "Ok", rcon_command('mp_winlimit', params[:h])%>
        <% end %>
        </div>
       </div>
</div>



<div class="config-cont">
  <div class="config-intercont"> 
        <% form_tag(@value, :method => "get") do %>  
         Ilość fragó potrzebna by wygrać mecz
  </div>
    <div class="config-intercont">
      <div class="config-form">
          <%= text_field_tag(:m) %>
      </div>
      <div class="config-form">
          <%= button_to "Ok", rcon_command('mp_fraglimit', params[:m])%>
        <% end %>
      </div>
    </div>
</div>


<div class="config-cont">
  <div class="config-intercont">
        <% form_tag(@value, :method => "get") do %>  
         Grawitacja na mapie [domyślnie: 800]
</div>
  <div class="config-intercont">
      <div class="config-form">
          <%= text_field_tag(:n) %>
        </div>
      <div class="config-form">
          <%= button_to "Ok", rcon_command('sv_gravity', params[:n])%>
        <% end %></div>
  </div>
</div>


<div class="config-cont">
  <div class="config-intercont">
        <% form_tag(@value, :method => "get") do %>  
         Prędkość obiektów balistycznych [domyślnie: 3500]
         </div>
  <div class="config-intercont">
      <div class="config-form">
          <%= text_field_tag(:maxvel) %>
        </div>
      <div class="config-form">
          <%= button_to "Ok", rcon_command('sv_maxvelocity', params[:maxvel])%>
        <% end %>
      </div>
  </div>
</div>


<div class="config-cont">
	<div class="config-intercont">
        <% form_tag(@value, :method => "get") do %>  
        Ostrzał własnej drużyny ("Friendy fire")
       </div>  
       <div class="config-intercont">
          <div class="config-form">
                <%= radio_button_tag(:o, "0") %>
                <%= label_tag(:o, "Wylącz") %>
                <%= radio_button_tag(:o, "1") %>
                <%= label_tag(:o, "Włącz") %>
          </div>
         <div class="config-form">
                <%= button_to "Ok", rcon_command('mp_friendlyfire', params[:o])%>
                <% end %>
         </div>
       </div>
</div>


<div class="config-cont">
	<div class="config-intercont">
            <% form_tag(@value, :method => "get") do %>  
            Kara za zabicie członka własnej drużyny
        </div>  
        <div class="config-intercont">
          <div class="config-form">
                <%= radio_button_tag(:p, "0") %>
                <%= label_tag(:p, "Wyłącz") %>
                <%= radio_button_tag(:p, "1") %>
                <%= label_tag(:p, "Włącz") %>
            </div>
         <div class="config-form">
                  <%= button_to "Ok", rcon_command('mp_tkpunish', params[:p])%>
                <% end %>
         </div>
        </div>
</div>

           