
<h1>Drabinka użytkowników</h1>


 
<table class="lader">
  <tr class="table-header"> 
    <td> <%= sort_link 'Miejsce', :points %></td>
    <td> <%= sort_link 'Gracz', :name %> </td>
    <td> <%= sort_link 'Punkty', :points %>   </td>
    <td> <%= sort_link 'Dołączył', :created_at %> </td>
    <td>  </td>
  </tr> 
  
<% @sorted_users.each do |user| %>
<tr>   
  <td> <%= ladder(user.name)%></td>
  <td><%= link_to user.name, user %></td>
  <td><%= user.points %></td>
  <td><%= user.created_at.strftime("%Y-%m-%d %H:%M") %></td>
  <% if current_user.admin? %>
    <td><%= link_to "[usuń]", user, :method => :delete, :confirm => "Jesteś pewien?", :title => "Kasowanie #{user.name}" %></td>
  <% else %>
    <td></td>
  <% end %>  
</tr>  
  <% end %>

  
  
 </table>
</br></br>
<h1>Obecnie online </h1>
<% if hostname.nil? %>
Serwer offline!
  <% else %> 
  <% rcon_status %>
<table>
  <tr class="table-header"> 
    <td> Konto gracza</td>
    <td> Nick gracza </td>
    <td> Fragi </td>
    <td> Śmierci </td>
    <td> Ratio </td>
    <td> Czas w grze </td>
    <td> Ping </td>
  </tr> 
    
  <% for i in 0..2 %>
  
    
    
  <tr>
    <td>
  
      <% @users.each do |user| %>
       
        <% if !user.find_ip(players_online(i,9)[0..12]).nil? %>
          <%= link_to user.find_ip(players_online(i,9)[0..12]).name, user.find_ip(players_online(i,9)[0..12]) %>
          <%  killscore(i) %>
          <%  deathscore(i) %>  
          <% break %>
        <% else  %>
        Gość
        <% break %>
        <% end %>
  
      <% end %>
       

    </td>
    
    <td><%= players_online(i,2)   %></td> 
    <td><%= players_online(i,5)   %></td>
    <td><%= players_online(i,8)   %></td> 
    <td><%= players_online(i,4)   %></td>
    <td><%= players_online(i,6)   %></td>
    <td><%= players_online(i,7)   %></td>
  <% end %>
  
 
    
  </table>


<% end %>