
<h1>Zarejestrowani użytkownicy </h1>
<ul class="users">
<% @users.each do |user| %>
<li>
<%= link_to user.name, user %>
  <% if current_user.admin? %>
    >> <%= link_to "delete", user, :method => :delete, :confirm => "Srsly?", :title => "Nukin #{user.name}" %>
  <% else %>
    not admin :E
  <% end %>
</li>
<% end %>
</ul>

<h1>Obecnie online </h1>

 

<table>
  <tr>  
    <td> Nick gracza </td>
    <td> Fragi </td>
    <td> Śmierci </td>
    <td> Ratio </td>
    <td> Czas w grze </td>
    <td> Ping </td>
  </tr> 
  
    
  <% for i in 0..parse %>
  <tr>
    <td><%= players_online(i,2)   %></td> 
    <td><%= players_online(i,5)   %></td>
    <td><%= players_online(i,8)   %> </td> 
    <td><%= players_online(i,4)   %></td>
    <td><%= players_online(i,6)   %></td>
    <td><%= players_online(i,7)   %></td>
  <% end %>
  
  
    
  </table>