<h1>HLDSWeb Serwer Konfiguracja</h1>

<% if hostname.nil? %>
Serwer offline!
  <% else %> 

<% form_tag(@value, :method => "get") do %>
  Wyślij wiadomość na serwer</br>
  <%= text_field_tag(:x) %>
  <%= button_to "Ok", rcon_command('say', params[:x])%>
<% end %></br>
  
<% form_tag(@value, :method => "get") do %>
  Nazwa serwera</br>
  <%= text_field_tag(:a) %>
  <%= button_to "Ok", rcon_command('hostname', params[:a])%>
<% end %></br>
  
<% form_tag(@value, :method => "get") do %>  
  Czas rundy ( 3 - 15 min )</br>
  <%= text_field_tag(:b) %>
  <%= button_to "Ok", rcon_command('mp_roundtime', params[:b])%>
<% end %></br>
  
<% form_tag(@value, :method => "get") do %>  
  Ilość rund</br>
  <%= text_field_tag(:c) %>
  <%= button_to "Ok", rcon_command('mp_roundlimit', params[:c])%>
<% end %></br>

<% form_tag(@value, :method => "get") do %>  
  Restart rundy za (do 10 sec)</br>
  <%= text_field_tag(:d) %>
  <%= button_to "Ok", rcon_command('sv_restartround', params[:d])%>
<% end %></br>

<% form_tag(@value, :method => "get") do %>  
  Limit czasu rozgrywki na mape (0 - bez limitu)</br>
  <%= text_field_tag(:e) %>
  <%= button_to "Ok", rcon_command('mp_timelimit', params[:e])%>
<% end %></br> 
  
<% form_tag(@value, :method => "get") do %>  
  Ilość startowych funduszy (max 16000)</br>
  <%= text_field_tag(:f) %>
  <%= button_to "Ok", rcon_command('mp_startmoney', params[:f])%>
<% end %></br> 

<% form_tag(@value, :method => "get") do %>  
  Czas kupowania wyposarzenia (np. 1.25 = 1 minuta i 25 sec)</br>
  <%= text_field_tag(:g) %>
  <%= button_to "Ok", rcon_command('mp_buytime', params[:g])%>
<% end %></br>

<% form_tag(@value, :method => "get") do %>  
  Limit zwycięskich rund do wygrania (0 = bez limitu)</br>
  <%= text_field_tag(:h) %>
  <%= button_to "Ok", rcon_command('mp_winlimit', params[:h])%>
<% end %></br>

<% form_tag(@value, :method => "get") do %>  
 Czas na rozbrojenie C4 (15-90 sek)</br>
  <%= text_field_tag(:i) %>
  <%= button_to "Ok", rcon_command('mp_c4timer', params[:i])%>
<% end %></br>

<% form_tag(@value, :method => "get") do %>  
 Czas "freez" przed rozpoczęciem rundy (0 by wyłączyc)</br>
  <%= text_field_tag(:j) %>
  <%= button_to "Ok", rcon_command('mp_freezetime', params[:j])%>
<% end %></br>

<% form_tag(@value, :method => "get") do %>  
 Ilośc zakładników których gracz może zabić zanim zostanie wyrzucony z serwera</br>
  <%= text_field_tag(:k) %>
  <%= button_to "Ok", rcon_command('mp_hostagepenalty', params[:k])%>
<% end %></br>

<% form_tag(@value, :method => "get") do %>  
 Czas przez jaki gracze mogą pisać przy końcu rundy, przed rotacją mapy</br>
  <%= text_field_tag(:l) %>
  <%= button_to "Ok", rcon_command('mp_chattime', params[:l])%>
<% end %></br>

<% form_tag(@value, :method => "get") do %>  
 Liczba fragów jakie należy zdobyć by wygrać mapę </br>
  <%= text_field_tag(:m) %>
  <%= button_to "Ok", rcon_command('mp_fraglimit', params[:m])%>
<% end %></br>

<% form_tag(@value, :method => "get") do %>  
 Grawitacja na mapie (domyślna - 800) </br>
  <%= text_field_tag(:n) %>
  <%= button_to "Ok", rcon_command('sv_gravity', params[:n])%>
<% end %></br>

<% form_tag(@value, :method => "get") do %>  
 Maksymalna prędkość wszystkich obiektów balistycznych (domyślnie 3500) </br>
  <%= text_field_tag(:maxvel) %>
  <%= button_to "Ok", rcon_command('sv_maxvelocity', params[:maxvel])%>
<% end %></br>

<% form_tag(@value, :method => "get") do %>  
 Maksymalna prędkość z jaką poruszają się gracze (domyślnie 350) </br>
  <%= text_field_tag(:maxspeed) %>
  <%= button_to "Ok", rcon_command('sv_maxspeed', params[:maxspeed])%>
<% end %></br>



<% form_tag(@value, :method => "get") do %>  
 Friendy fire </br>
<%= radio_button_tag(:o, "0") %>
<%= label_tag(:o, "Wylączony") %>
<%= radio_button_tag(:o, "1") %>
<%= label_tag(:o, "Włączony") %>
  <%= button_to "Ok", rcon_command('mp_friendlyfire', params[:o])%>
<% end %></br>

<% form_tag(@value, :method => "get") do %>  
 Kara za zabicie członka własnej drużyny </br>
<%= radio_button_tag(:p, "0") %>
<%= label_tag(:p, "Wyłączona") %>
<%= radio_button_tag(:p, "1") %>
<%= label_tag(:p, "Włączona") %>
  <%= button_to "Ok", rcon_command('mp_tkpunish', params[:p])%>
<% end %></br>

<% form_tag(@value, :method => "get") do %>  
 Dźwięk kroków </br>
<%= radio_button_tag(:r, "0") %>
<%= label_tag(:r, "Wyłączony") %>
<%= radio_button_tag(:r, "1") %>
<%= label_tag(:r, "Włączony") %>
  <%= button_to "Ok", rcon_command('mp_footsteps', params[:r])%>
<% end %></br>

<% form_tag(@value, :method => "get") do %>  
 Używanie latarki </br>
<%= radio_button_tag(:s, "0") %>
<%= label_tag(:s, "Niedostępne") %>
<%= radio_button_tag(:s, "1") %>
<%= label_tag(:s, "Dostępne") %>
  <%= button_to "Ok", rcon_command('mp_flashlight', params[:s])%>
<% end %></br>

<% form_tag(@value, :method => "get") do %>  
 Automatyczny balans drużyn </br>
<%= radio_button_tag(:t, "0") %>
<%= label_tag(:t, "Nie") %>
<%= radio_button_tag(:t, "1") %>
<%= label_tag(:t, "Tak") %>
  <%= button_to "Ok", rcon_command('mp_autoteambalance', params[:t])%>
<% end %></br>

<% form_tag(@value, :method => "get") do %>  
 Automatycznie rozłącz bezczynnych graczy </br>
<%= radio_button_tag(:u, "0") %>
<%= label_tag(:u, "Nie") %>
<%= radio_button_tag(:u, "1") %>
<%= label_tag(:u, "Tak") %>
  <%= button_to "Ok", rcon_command('mp_autokick', params[:u])%>
<% end %></br>

<% form_tag(@value, :method => "get") do %>  
 Gracze słyszą wszystkich, nie tylko własną drużynę </br>
<%= radio_button_tag(:w, "0") %>
<%= label_tag(:w, "Nie") %>
<%= radio_button_tag(:w, "1") %>
<%= label_tag(:w, "Tak") %>
  <%= button_to "Ok", rcon_command('sv_alltalk', params[:w])%>
<% end %></br>

<% form_tag(@value, :method => "get") do %>  
  Pozwól na obserwatorów</br>
<%= radio_button_tag(:w, "0") %>
<%= label_tag(:w, "Nie") %>
<%= radio_button_tag(:w, "1") %>
<%= label_tag(:w, "Tak") %>
  <%= button_to "Ok", rcon_command('mp_allowspectators', params[:w])%>
<% end %></br>

<% form_tag(@v, :method => "get") do %>  
Rozpocznij nową grę na podanej mapie</br>
<%= select_tag(:map, options_for_select([['[as]Oilrig', 'as_oilrig'],['[cs]Assault', 'cs_assault'],['[cs]Zaphod\'s Estate', 'cs_estate'],['[cs]Italy', 'cs_italy'],['[cs]Militia', 'cs_militia'],['[de]Aztec', 'de_aztec'],['[de]Dust', 'de_dust'],['[de]Dust2', 'de_dust2'],['[de]Inferno', 'de_inferno'],['[de]Trainyard', 'de_train'],['[de]Vertigo', 'de_vertigo'], ['[de]Nuke', 'de_nuke']])) %>
<%= button_to "Ok", rcon_command('changelevel', params[:map])%>
  <% end %></br>
  
<% form_tag(@v, :method => "get") do %>  
Kontynuuj grę na nowej mapie</br>
<%= select_tag(:map, options_for_select([['[as]Oilrig', 'as_oilrig'],['[cs]Assault', 'cs_assault'],['[cs]Zaphod\'s Estate', 'cs_estate'],['[cs]Italy', 'cs_italy'],['[cs]Militia', 'cs_militia'],['[de]Aztec', 'de_aztec'],['[de]Dust', 'de_dust'],['[de]Dust2', 'de_dust2'],['[de]Inferno', 'de_inferno'],['[de]Trainyard', 'de_train'],['[de]Vertigo', 'de_vertigo'], ['[de]Nuke', 'de_nuke']])) %>
<%= button_to "Ok", rcon_command('changelevel2', params[:map])%>
  <% end %></br>


 <% if how_many_players == 0 %>
  Obecnie nie ma żadnych graczy na serwerze
  <%  else %>
  
<% form_tag(@v, :method => "get") do %>  
Usuń graczy z serwera</br>
<% for i in 0..how_many_players-1 %>
  <%= check_box_tag(:player, players_online(i,2)) %>
  <%= label_tag(:player, players_online(i,2)) %></br>
  <% end %>
  
 <%= button_to "Ok", rcon_command('kick', params[:player])%>
  <% rcon_status %>
  <% end %></br>

<% form_tag(@v, :method => "get") do %>  
Banuj gracza </br>

<% for i in 0..how_many_players-1 %>
  <%= check_box_tag(:player2, players_online(i,10)) %>
  <%= label_tag(:player2, players_online(i,2)) %></br>
  <% end %>
  
 <%= button_to "Ok", rcon_ban(params[:player2])%>
  <% rcon_status %>
  <% end %></br>

<% end %>












<% end %>