<table class="profile" summary="Informacje o Profilu">
<tr>
<td class="main">
<h1>
<%= @user.name %>
</h1>
  <ul>
    <li> Miejsce w drabince: <%= ladder_place %> </li>
    <li> Punktów ogółem: <%= @user.points %>  <br/></li>
    <li> Śmierci ogółem: <%=  @user.death %><br/></li>
    <li> K/D ratio: <%= kdratio %> <br/></li>
      <% for i in 0..parse %>
      <% s = online(i) %>
      <% break if !s.nil? %>
      <% end %>
    <%if !s.nil?  %>
      <li> Status: Online<br/></li>
    <% else %>
      <li> Status: Offline<br/></li>
    <% end %>
    <ul>
</td>
<td class="sidebar round">
<strong>[Nick]</strong> <%= @user.name %><br />
<strong>[Adres IP]</strong> <%= @user.ip %><br />
<strong>[Profil]</strong> <%= link_to user_path(@user), @user %><br />
<strong>[Utworzono]</strong> <%= @user.created_at.strftime("%Y-%m-%d %H:%M")  %> <br />
</td>
</tr>
</table>
