<h1>Serwer Status</h1>
<p>
Status serwera:
 <% rcon_status %>

</p>
  <% if hostname.nil? %>
Serwer offline!
  <% else %>
 
<table class="status">
  
<tr>
<td><strong>[Nazwa serwera]:</strong></td> <td><%= hostname %></td>
</tr>
<tr>
<td><strong>[Adres IP serwera]:</strong></td> <td><%= tcp %></td>
</tr>
<tr>
<td><strong>[Graczy]:</strong></td> <td><%= players %></td>
</tr>
<tr>
<td><strong>[Aktywna mapa]:</strong></td> <td><%= map  %></td>
</tr>
<tr>
<td><strong>[Wersja Steam serwera]:</strong></td> <td><%= version  %></td>
</tr>

</table>
<% end %>