<header>
<%= link_to logo, root_path %>

<nav class="round">

<ul>
  <li><%= link_to "Start",  home_path %></li>
<% if admin_user? %>
  <li><%= link_to "Ustawienia serwera",  serverconsole_path %></li 
<% end %>
<% if signed_in? %>
  <li><%= link_to "Użytkownicy", users_path %></li>
  <li><%= link_to "Mój profil", current_user %></li>
  <li><%= link_to "Ustawienia", edit_user_path(current_user) %></li>
  <li><%= link_to "Wyloguj", signout_path, :method => :delete %></li>
<% else %>
  <li><%= link_to "Zaloguj", signin_path %></li>
<% end %>

</ul>
</nav>
</header>



