<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<%= csrf_meta_tag %>
<%= render 'layouts/stylesheets' %>
<%= javascript_include_tag :defaults %>
</head>
<body>
<div class="container">
<%= render 'layouts/header' %>
<section class="round" style="margin-top:58px;">
<% flash.each do |key, value| %>
<div class="flash <%= key %>"><%= value %></div>
<% end %>

<%= yield %>
</section>
  <%= render 'layouts/footer' %>
	<div style="margin:35px auto 0px auto; width:300px;">Copyright © 2011 Adam Menkiewicz</div>
  <% #debug(params) if Rails.env.development?%>
</div>
  </br>
  </br>
</body>
</html>

